<div class="container">
  <%= simple_form_for [pet, treatment] do |f| %>
  <%= f.input :name %>
  <%= f.input :last_application %>
  <%= f.input :interval %>
  <%= f.input :until , html5:true %>
  <%= f.submit "Guardar tratamiento", class:"btn btn-outline-success" %>
<% end %>
</div>
