<div class="container">
  <div class="row justify-content-center">
    <div class="card editar col-12 m-5 p-3 rounded-4">
        <%= simple_form_for @treatment do |f| %>
            <%= f.input :name,label:"Nombre del tratamiento",placeholder:"Pastilla para artrosis" %>
            <%= f.input :until,label:"Fecha de inicio" , html5:true %>
            <%= f.input :last_application, label:"Ultima aplicación" %>
            <%= f.input :interval,label:"Tiempo entre aplicaciones en días",placeholder:"5" %>
            <%= f.submit "Guardar tratamiento", class:"btn btn-outline-success" %>
        <% end %>
    </div>
  </div>
</div>
