<div class="container">
  <div class="row">
    <div class="body rounded-4"></div>
  </div>
  <div class="row">
    <div class="barra rounded-4 p-2">
      <div class="avatar">
        <img src="https://bit.ly/3VG02xC" alt="">
      </div>
    </div>
  </div>
</div>

<h1>Podemos acceder a la info de las citas, desparacitaciones, vacunas, examenes y tratamientos</h1>
<h2>Esta es la info de <%= @pet.name %></h2>

<h3>Tratamientos</h3>
<% @treatments.each do |treatment| %>
  <ol>
    <li><%= treatment.name %><%= link_to "Editar", edit_treatment_path(treatment) %> <%= link_to "Eliminar tratamiento", treatment_path(treatment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  </ol>
<% end %>
<%= link_to "Agregar nuevo tratamiento", new_pet_treatment_path(@pet) %>
<h3>Citas</h3>
<% @appointments.each do |appointment| %>
  <ol>
    <li><%= appointment.veterinary_name %> <%= link_to "Eliminar cita", appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> <%= link_to "Editar cita", edit_appointment_path(appointment) %></li>
  </ol>
<% end %>
<%= link_to "Agregar nueva cita", new_pet_appointment_path(@pet) %>
<h3>Vacunas</h3>
<ol>
<% @vaccines.each do |vaccine| %>
    <li><%= vaccine.name %> <%= link_to "Editar vacuna", edit_vaccine_path(vaccine) %><%= link_to "Eliminar vacuna", vaccine_path(vaccine), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </li>
<% end %>
</ol>
<%= link_to "Agregar nueva vacuna", new_pet_vaccine_path(@pet) %>
<h3>Desparacitaciones</h3>
<% @dewormings.each do |deworming| %>
  <ol>
    <li><%= deworming.name %><%= link_to "Editar", edit_deworming_path(deworming) %> <%= link_to "Eliminar desparacitacion", deworming_path(deworming), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></li>
  </ol>
<% end %>
<%= link_to "Agregar nueva desparasitación", new_pet_deworming_path(@pet) %>

<h3>Examenes</h3>
<% @exams.each do |exam| %>
  <ol>
    <li><%= exam.name %> <%= link_to "Editar", edit_exam_path(exam) %><%= link_to "Eliminar examen", exam_path(exam), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> <%= link_to "Ver detalles", pet_exam_path(@pet, exam) %></li>
  </ol>
<% end %>
<%= link_to "Agregar examen", new_pet_exam_path(@pet)  %>

<%= link_to "Volver a tus mascotas", pets_path %>
