<div class="container text-center mt-4">
  <h1>Información de <%= @pet.name %></h1>
</div>

<div class="d-flex align-items-start container">
<%# Sidebar %>
  <div class="nav flex-column nav-pills me-3 col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="true">Información General</button>
    <button class="nav-link" id="v-pills-citas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-citas" type="button" role="tab" aria-controls="v-pills-citas" aria-selected="false">Citas médicas</button>
    <button class="nav-link" id="v-pills-vacunas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-vacunas" type="button" role="tab" aria-controls="v-pills-vacunas" aria-selected="false">Vacunas</button>
    <button class="nav-link" id="v-pills-desparacitaciones-tab" data-bs-toggle="pill" data-bs-target="#v-pills-desparacitaciones" type="button" role="tab" aria-controls="v-pills-desparacitaciones" aria-selected="false">Desparacitaciones / Antipulgas</button>
    <button class="nav-link" id="v-pills-examenes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-examenes" type="button" role="tab" aria-controls="v-pills-examenes" aria-selected="false">Examenes</button>
    <button class="nav-link" id="v-pills-tratamientos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tratamientos" type="button" role="tab" aria-controls="v-pills-tratamientos" aria-selected="false">Tratamientos</button>
    <button class="nav-link" id="v-pills-pets-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pets" type="button" role="tab" aria-controls="v-pills-pets" aria-selected="false"><%= link_to "Volver a tus mascotas", pets_path, class:"text-decoration-none petsbutton" %></button>
  </div>
<%# Contenido %>
  <div class="tab-content col-9" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab" tabindex="0">
      <div class="col-lg-8">
        <div class="card card-index mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Nombre</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Raza</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.breed %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Fecha de nacimiento</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.birthday %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Macho/Hembra</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.gender%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Peso</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.weight %> Kilogramos</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Esterilizado</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.spayed %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Alergias</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.allergies %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Color</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.color %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Tiene Chip?</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.chiped %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Especie</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0"><%= @pet.specie %></p>
              </div>
            </div>
            <hr>
            <%= link_to "Editar mascota", edit_pet_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>


      <%# Template de las card %>

<%# Contenido Citas %>
    <div class="tab-pane fade" id="v-pills-citas" role="tabpanel" aria-labelledby="v-pills-citas-tab" tabindex="0">
      <div class="col-lg-8">
        <div class="card mb-4 card-index">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de Cita</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Nombre Veterinaria</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Nombre Doctor</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Editar/eliminar</p>
              </div>
            </div>
            <hr>
            <% @appointments.each do |appointment| %>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= appointment.date %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= appointment.veterinary_name %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= appointment.doctor_name %></p>
              </div>
              <div class="col-sm-3">
                <span class="text-muted mb-0">
                <%= link_to edit_appointment_path(appointment), class:"text-decoration-none" do %>
                <i class="fa-regular fa-pen-to-square text-secondary"></i>
                <% end %>
                <%= link_to appointment_path(appointment), class:"text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-secondary"></i>
                <% end %>
                </span>
              </div>
            </div>
            <hr>
            <% end %>
            <%= link_to "Agregar", new_pet_appointment_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>

    <%# Contenido Vacunas %>
    <div class="tab-pane fade" id="v-pills-vacunas" role="tabpanel" aria-labelledby="v-pills-vacunas-tab" tabindex="0">



      <div class="col-lg-8">
        <div class="card mb-4 card-index">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de Aplicacion</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Nombre Vacuna</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Tiempo entre aplicación</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Editar/eliminar</p>
              </div>
            </div>
            <hr>
            <% @vaccines.each do |vaccine| %>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= vaccine.date %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= vaccine.name %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= vaccine.interval %> días</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">
                <%= link_to edit_vaccine_path(vaccine), class:"text-decoration-none" do %>
                <i class="fa-regular fa-pen-to-square text-secondary"></i>
                <% end %>
                <%= link_to vaccine_path(vaccine), class:"text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-secondary"></i>
                <% end %>
                </p>
              </div>
            </div>
            <hr>
            <% end %>
            <%= link_to "Agregar", new_pet_vaccine_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>


<%# Contenido Desparacitaciones %>
    <div class="tab-pane fade" id="v-pills-desparacitaciones" role="tabpanel" aria-labelledby="v-pills-desparacitaciones-tab" tabindex="0">
      <div class="col-lg-8">
        <div class="card mb-4 card-index">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de Aplicacion</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Nombre Desparasitante</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Tiempo entre aplicación</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Editar/eliminar</p>
              </div>
            </div>
            <hr>
            <% @dewormings.each do |deworming| %>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= deworming.date %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= deworming.name %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= deworming.interval %> días</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">
                <%= link_to edit_deworming_path(deworming), class:"text-decoration-none" do %>
                <i class="fa-regular fa-pen-to-square text-secondary"></i>
                <% end %>
                <%= link_to deworming_path(deworming), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-secondary"></i>
                <% end %>
                </p>
              </div>
            </div>
            <hr>
            <% end %>
            <%= link_to "Agregar", new_pet_deworming_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>

<%# Contenido Examenes %>
    <div class="tab-pane fade" id="v-pills-examenes" role="tabpanel" aria-labelledby="v-pills-examenes-tab" tabindex="0">

      <div class="col-lg-8">
        <div class="card mb-4 card-index">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Fecha de Examen</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Nombre Examen</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Ver Examen</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">Editar/eliminar</p>
              </div>
            </div>
            <hr>
            <% @exams.each do |exam| %>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= exam.date %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= exam.name %></p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0"><%= link_to "Ver detalles", pet_exam_path(@pet, exam) %> </p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">
                <%= link_to edit_exam_path(exam), class:"text-decoration-none" do %>
                <i class="fa-regular fa-pen-to-square text-secondary"></i>
                <% end %>
                <%= link_to exam_path(exam), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-secondary"></i>
                <% end %>
                </p>
              </div>
            </div>
            <hr>
            <% end %>
            <%= link_to "Agregar", new_pet_exam_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>

<%# Contenido Tratamientos %>
    <div class="tab-pane fade" id="v-pills-tratamientos" role="tabpanel" aria-labelledby="v-pills-tratamientos-tab" tabindex="0">
      <div class="col-lg-8">
        <div class="card mb-4 card-index">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">Nombre de tratamiento</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">Dias entre aplicación</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">Editar/eliminar</p>
              </div>
            </div>
            <hr>
            <% @treatments.each do |treatment| %>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><%= treatment.name %></p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0"><%= treatment.interval %> días</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">
                <%= link_to edit_treatment_path(treatment), class:"text-decoration-none" do %>
                <i class="fa-regular fa-pen-to-square text-secondary"></i>
                <% end %>
                <%= link_to treatment_path(treatment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-secondary"></i>
                <% end %>
                </p>
              </div>
            </div>
            <hr>
            <% end %>
            <%= link_to "Agregar", new_pet_treatment_path(@pet), class:"btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
