
<!--New Navbar-->
<nav class="navbar2 d-flex justify-content-between">
  <div class="mt-2 mx-2">

    <!-- Nav Header -->
    <div class="navbar-expand-sm">
      <a class="navbar-brand" href="<%=root_path%>"><span class="fa fa-home"></span><span class="link"> Home</span></a>
      <a class="navbar-brand" href="<%=calendar_path%>"><span class="fa fa-calendar"></span><span class="link"> Calendario</span></a>
      <div class="dropdown d-inline">
        <a class="navbar-brand dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-dog"></span><span class="link">Pets</span></a>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <% current_user.pets.each do |pet| %>
              <li><%= link_to pet.name, pet_path(pet), class: "nav-link"%></li>
            <% end %>
          <% end %>
          <li><%= link_to "Ver todas", pets_path%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="letter justify-content-center mt-2">
    <h5 class= "letra-nav">Petzone <i class="fa fa-paw"></i></h5>
  </div>
  <div class="letter longs d-flex mt-2 gap-3 strong">
    <% if user_signed_in? %>
      <p><%= current_user.username %></p>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item mx-3" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link m-1" %>
    <% end %>
  </div>
</nav>
