<div class="container">
  <%= simple_form_for([pet, deworming]) do |f| %>
    <%= f.input :name, label:"Nombre" %>
    <%= f.input :interval, label:"Tiempo entre aplicaciones en días" %>
    <%= f.input :date, html5:true, label:"Fecha de aplicación" %>
    <%= f.submit "Guardar desparacitacion", class:"btn btn-outline-success"%>
  <% end %>
</div>
