
<div class="container">
  <%= simple_form_for([pet, appointment]) do |f| %>
    <%= f.input :veterinary_name %>
    <%= f.input :doctor_name %>
    <%= f.input :date, html5:true %>
    <%= f.submit %>
  <% end %>
</div>
