
<div class="container">
  <%= simple_form_for([pet, appointment]) do |f| %>
    <%= f.input :veterinary_name,label:"Nombre de veterinaria",placeholder:"Nueva Era" %>
    <%= f.input :doctor_name, label:"Nombre del doctor",placeholder:"Máximo Cabal" %>
    <%= f.input :date, html5:true, label:"Fecha de cita" %>
    <%= f.submit "Guardar cita", class:"btn btn-outline-success" %>
  <% end %>
</div>
