<div class="container">
  <div class="row justify-content-center">
    <div class="card editar col-12 m-5 p-3 rounded-4">
      <%= simple_form_for([@pet, @exam]) do |f| %>
        <%= f.input :name,label:"Nombre del estudio",placeholder:"Radiografía de pata trasera" %>
        <%= f.input :description,label:"Descripción",placeholder:"Fractura" %>
        <%= f.input :date, html5:true, label:"Fecha" %>
        <%= f.input :photos, as: :file, input_html: {multiple: true},label:"Foto" %>
        <%= f.submit "Agregar" %>
      <% end %>
    </div>
  </div>
</div>
