
<%# <%= cl_image_tag @exam.photos.first.key, height: 300, width:400 %>

<div class="container d-flex justify-content-center text-center align-items-center mt-3">
  <div class="card rounded-3" style="width: 35rem;overflow: hidden; border-radius: 10% !important;">
    <%#= cl_image_tag @exam.photos.first, class:"card-img-top" %>
    <% unless @exam.photos.empty? %>
      <% @exam.photos.each do |photo|  %>
      <%= cl_image_tag photo.key %>
      <% end %>
    <div class="card-body m-3">
      <h5 class="card-title"><%= @exam.name %></h5>
      <p class="card-text"><%= @exam.description %></p>
      <p class="card-text"><%= @exam.date %></p>
    </div>
    <% else %>
    <%= image_tag asset_path("hospitalG") %>
    <div class="card-body  m-3">
      <h5 class="card-title"><%= @exam.name %></h5>
      <p class="card-text"><%= @exam.description %></p>
      <p class="card-text"><%= @exam.date %></p>
    </div>
    <% end %>
  </div>
</div>
<div class="text-center my-4">
<%= link_to "Volver a información de mascota", pet_path(@exam.pet), class: "btn btn-outline-success" %>
</div>
